$background-color: #0a0e17;
$header-bg-color: #141b29;
$main-color: #1f80e0;
$primary-color: #3f9fff;
$white-color: #ffffff;
$black-color: #000000;

$header-height: 90px;
$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: "Montserrat", sans-serif;
